/* CARROUSEL */

#carrousel{
    position: relative;
    width: 97%;
    background-image: url("../img/display_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    margin: 3%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    transition: background-image 1s;
    height: 40vh;
}

#carrousel a {
    position: absolute;
    color:white;
    text-decoration: none;
    height: 100%;
    width: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#carrousel a span {
    position: absolute;
    bottom: 2%;
    left: 2%;
    text-shadow: 2px 2px 8px black;
}

#carrousel button{
    width: 3%;
    padding-top: 7%;
    padding-bottom: 7%;
    height: 100%;
    border: none;
    background: none;
    color:white;
    font-size: 2vw;
    transition: background-color 1s;
}

#carrousel button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 1s;
}

@media screen and (max-width: 600px) {
    #carrousel a span h1 {
        font-size: 4vw;
    }

    #carrousel a span h3 {
        font-size: 3vw;
    }
}

/* TEAM */

.team_display{
    margin:auto;
    max-width: 800px;
    text-align:center;
}

.team_display2{
    margin:auto;
    max-width: 500px;
    text-align:center;
}

.team{
    margin:auto;
    max-width: 800px;
    text-align:center;
}

.update-info{
    display: none;
}
.display{
    display:block;
}
.close{
    border:none;
    background-color: transparent;
}
.close:hover{
    color: red;
}
.contenu form{
    max-width: 600px;
    margin:auto;
}

.contenu .captain{
    margin:auto;
    max-width: 800px;
    text-align: center;
}

/* BRACKET */

#match_gen {
    display: flex;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#match_gen::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.rounds {
    height: 100%;
    margin: 0.5%;
}

.center-div {
    display: flex;
    align-items: center;
}

.match {
    min-width: 200px;
}

.match-winner {
    font-weight: bold;
}

/* GESTION */
.gestion-btn{
    margin: auto;
    border-bottom: solid 1px black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.gestion-btn form{
    display: inline-block;
}

/*MATCH*/
.matche{
    margin:auto;
    max-width: 800px;
    text-align:center;
}
.launch{
    text-align:center;
    max-height: 800px;
}
.wrapper{
	width: 650px;
	height: 650px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 5px;
    text-align: center;
}
.wrapper .radio_tabs{
    display: inline-block;
	height: 60px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 20px;
    padding: 18px;


    /*box-shadow: 0 0 2px rgba(0,0,0,0.1);*/
}

.wrapper .radio_tabs label{
	margin-right: 15px;
	position: relative;
	cursor: pointer;
	padding-left: 28px;
}

.wrapper .radio_tabs .radio_mark:before{
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
    background: url("../img/radio_icon.png") no-repeat 0 0;
	width: 22px;
	height: 22px;
}

.wrapper .radio_tabs label .input{
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

wrapper .radio_tabs label .input:checked ~ .radio_mark{
	color: #ff5d66;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark:before{
	background-position: 0 -23px;
	width: 22px;
	height: 22px;
}

.wrapper .content{
	width: 100%;
	height: calc(100% - 70px);
	border-radius: 5px;
	padding: 18px;
}

.score{
    margin:auto;
    max-width: 800px;
    text-align:center;
}

#Perm form{
    max-width: 100%;
}
.logo{
    max-height: 37px;
}
